:root {
    --text: #434455;
    --white: #ffffff;
    --interactive-elements: #4d5ae5;
    --dark-color: #2e2f42;
    --hover-btn: #404BBF;
    --secondary-background-color: #f4f4fd;
    --subtle-background: #e7e9fc;
}

body {
        color: var(--text);
        background-color: var(--white);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* logo */

.logo:hover,
.logo:focus {
    color: var(--interactive-elements);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.logo-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--interactive-elements);
}

/* header */

.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--interactive-elements);
}

.contact {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.contact-link {
    color: var(--text);
}

/* main */

.hero {
background-color: var(--dark-color);;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white);;
}

.hero-btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
cursor: pointer;
color: var(--white);
background: var(--interactive-elements) ;
}

.hero-btn:hover
.hero-btn:focus {
    color: var(--hover-btn);
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color: var(--text);
}

.subtitle {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--dark-color);
}